<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" href="/">
        <img src="" alt="Logo" width="30" height="24">
    </a>
    <a class="navbar-brand" id="title_nav" href="{{ path('app_index') }}">Wild Series</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('category_index') }}">Toutes les catégories</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Aventure</a></li>
                        <li><a class="dropdown-item" href="#">Animation</a></li>
                        <li><a class="dropdown-item" href="#">Fantastique</a></li>
                        <li><a class="dropdown-item" href="#">Horreur</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Séries
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('program_index') }}">Toutes les séries</a></li>
                        <li><a class="dropdown-item" href="#">Program1</a></li>
                        <li><a class="dropdown-item" href="#">Program2</a></li>
                        <li><a class="dropdown-item" href="#">Program3</a></li>
                        <li><a class="dropdown-item" href="#">Program4</a></li>
                        <li><a class="dropdown-item" href="#">Program5</a></li>
                        <li><a class="dropdown-item" href="#">Program6</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Mes Favoris</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Utilisateur</a>
                </li>

            </ul>
            <a class="navbar-brand" href="#">
                <img src="" alt="Avatar" width="30" height="24">
            </a>
        </div>
    </div>
</nav>